:root{
    --div-color: #293241;
}
@keyframes bubble {
    from{
        width: 100%;
        height: 100%;
        position: absolute;
        
        clip-path: circle(0%);
        top: 0;
    }
    to{
        width: 100%;
        height: 100%;
        position: absolute;
        
        clip-path: circle(100%);
        top: 0;
    }
}
@keyframes fall {
    from{
        height: 0%;
        width: 100%;
        position: absolute;
        top: 0;
        
    }
    to{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        
    }
}
@keyframes rise {
    from{
        height: 0%;
        width: 100%;
        position: absolute;
        bottom: 0;
        
    }
    to{
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
        
    }
}
@keyframes leftcurtain{
    from{
        height: 100%;
        width: 0%;
        position: absolute;
        top: 0;   
           
    }
    to{
        height: 100%;
        width: 50%;
        position: absolute;
        top: 0;
        
    }
}
@keyframes rightcurtain{
    from{
        height: 100%;
        width: 0%;
        position: absolute;
        right: 0;
        top: 0;   
           
    }
    to{
        height: 100%;
        width: 50%;
        position: absolute;
        right: 0;
        top: 0;
        
    }
}
@keyframes inverseSlide{
    from{
        height: 100%;
        width: 0%;
        position: absolute;
        right: 0;
        top: 0;
        
    }
    to{
        height: 100%;
        width: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }
}
@keyframes slide {
    from{
        height: 100%;
        width: 0%;
        position: absolute;
        top: 0;
        
    }
    to{
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        
    }
}

@keyframes wipe {
  /* Initial: left middle, thin vertical bar */
  0% {
    position: absolute;
    top: 50%;
    left: 0;
    width: 1%;
    height: 2%;
    transform: translateY(-50%) scaleX(0) scaleY(1);
    transform-origin: left center;
    z-index: 9999;
  }

  /* Grow to the right */
  50% {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2%;
    transform: translateY(-50%);
  }

  /* Expand up & down */
  100% {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-50%);
    transform-origin: left center;
    z-index: 9999;
  }
}
